
.container{
	background-color: #99b3e6;
	min-height: 500px;
	padding-bottom: 20px;
}
.register a, #login_form a {
	color: #002080;
}
.errors {
	color: #8b0000;
}
.register h1 {
	color: #1f7a1f;
	}
.register form, #login_form form  {
	margin-bottom: 30px;
}
#login h1 {
	color: #1f7a1f;
	font-size: 4em;
	/*margin-left: 20%;*/
	text-align: center;
}
#login h3 {
	margin-top: 75px;
	/*margin-left: 30%;*/
}
.borrower {
	margin: 0 0 40px 30px;
}