<h1>Lender</h1>
<form action="/lenders/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>First Name: <input type="text" name="lender[first_name]"></p>
	<p>Last Name: <input type="text" name="lender[last_name]"></p>
	<p>Email: <input type="text" name="lender[email]"></p>
	<p>Password: <input type="text" name="lender[password]"></p>
	<p>* Password should be at least 8 characters long</p>
	<p>Password Confirmation: <input type="text" name="lender[password_confirmation]"></p>
	<p>Money: <input type="integer" name="lender[money]"></p>
	<p><input type="submit" value="Register"></p>
</form>
<a href="/">Already a member?</a>

<% if flash[:errors] %>
	<% flash[:errors].each do |err| %>
		<p><%= err %></p>
	<% end %>
<% end %>

<h1>Borrower</h1>
<form action="/borrowers/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>First Name: <input type="text" name="borrower[first_name]"></p>
	<p>Last Name: <input type="text" name="borrower[last_name]"></p>
	<p>Email: <input type="text" name="borrower[email]"></p>
	<p>Password: <input type="text" name="borrower[password]"></p>
	<p>* Password should be at least 8 characters long</p>
	<p>Password Confirmation: <input type="text" name="borrower[password_confirmation]"></p>
	<p>Need Money For: <input type="integer" name="borrower[purpose]"></p>
	<p>Description:<input type="text" name="borrower[description]"></p>
	<p>Amount Needed: <input type="integer" name="borrower[money]"></p>
	<p><input type="submit" value="Register"></p>
</form>
<a href="/">Already a member?</a>
